body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1{
text-align: center
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}


.navbar {
    background-color: #10439F;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.navbar-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 40px; /* Aumenta el espacio entre elementos */
}

.nav-links li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: "Lucida Console", "Courier New", monospace;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.nav-links li a:hover {
    color: #0E46A3;
}

.content {
    text-align: center;
    padding: 50px;
    color: #333;
}

.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.student {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.student-info {
  text-align: left;
}

.student-info h2 {
  margin-top: 0;
}

.student-info p {
  margin: 5px 0;
}

.container-student {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.only-student-info {
  text-align: left;
}

.only-student-info h2 {
  margin-top: 0;
}

.only-student-info p {
  margin: 5px 0;
}

.info-icon{
  bottom: 5px;
  right: 25px;
  width: 20px;
  height: auto;
  border-radius: 5px;

}

.edit-icon{
  bottom: 5px;
  right: 25px;
  width: 40px;
  height: auto;
  border-radius: 5px;

}

.delete-icon{
  bottom: 5px;
  right: 25px;
  width: 35px;
  height: auto;
  border-radius: 5px;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.form-container label,
.form-container input,
.form-container select,
.form-container textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container select,
.form-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container primary {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #10439F;
  color: #fff;
}

