{% include "header.html" %}
<div class="container-api">
        <section class="section-api">
            <h2>¿Qué es esta API?</h2>
            <p>La API del parqueadero proporciona acceso a la base de datos de estudiantes registrados que hacen uso del parqueadero de la Universidad Santo Tomás de Tunja. Permite realizar operaciones como agregar, actualizar, eliminar y recuperar información de los estudiantes.</p>
        </section>

        <section class="section-api">
            <img src="{{ url_for('static', filename='img/postman.png') }}" alt="API Documentation" class="section-img">
            <h2>Documentación de la API</h2>
            <p>Para obtener más detalles sobre cómo utilizar esta API, consulte la documentación de Postman:</p>
            <a href="https://documenter.getpostman.com/view/32951153/2sA3JF9ijh" target="_blank">Documentación de la API en Postman</a>
        </section>

        <section class="section-api">
            <img src="{{ url_for('static', filename='img/GitHub-logo.png') }}" alt="Github Repository" class="section-img">
            <h2>Repositorio Github</h2>
            <p>Para obtener más información del código utilizado en esta API, consulte el siguiente repositorio de Github.</p>
            <a href="https://github.com/Sanchochx/soa-final-project" target="_blank">Repositorio de Github</a>
        </section>
    </div>
<br>
{% include "footer.html" %}