{% include "header.html" %}

 <div class="container-student">
    <div class="only-student-info">
      <h2>{{ student.nombre_estudiante }}</h2>
      <p><strong>Código del estudiante:</strong> {{student.codigo_estudiante}}</p>
      <p><strong>Correo del estudiante:</strong> {{ student.correo_estudiante }}</p>
      <p><strong>Teléfono del estudiante:</strong> {{ student.telefono_estudiante }}</p>
      <p><strong> Modelo de carro del estudiante:</strong> {{ student.modelo_carro }}</p>
      <p><strong> Placa del carro del estudiante:</strong> {{ student.placa_carro }}</p>
      <a href="{{ url_for('edit_student', student_id=student.id) }}">
          <img src="{{ url_for('static',filename='img/edit-icon.png') }}" alt="edit-icon" class="edit-icon">
      </a>
        <br>
      <a href="{{ url_for('delete_student_f', student_id=student.id) }}">
          <img src="{{ url_for('static',filename='img/delete-icon.png') }}" alt="delete-icon" class="delete-icon">
      </a>
    </div>
  </div>

{% include "footer.html" %}